{% extends 'base.html.twig' %}

{% block title %}Welcome to the Club Omnisport
{% endblock %}

{% block body %}
	<h1>Welcome to the Club Omnisport</h1>
	<p>This is the homepage of your club. Explore the sections, teams, and members.</p>
{% endblock %}
